QWidget#freqSectionWidget {
    background-color: #ffaa00;
}

QPushButton#onAirLabel[onAir="off"] {
    color: white;
    background-color: black;
}

QPushButton#onAirLabel[onAir="off"]:hover {
    color: white;
    background-color: black;
}

QPushButton#onAirLabel[onAir="on"] {
    color: white;
    background-color: red;
}

QPushButton#onAirLabel[onAir="on"]:hover {
    color: white;
    background-color: red;
}


